# Platform
CONFIG_MACH_XIAOMI_SIRIUS=y

# NFC
# CONFIG_NFC_NQ is not set

# Touchscreen
CONFIG_TOUCHSCREEN_ST_FTS_V521=y
CONFIG_TOUCHSCREEN_ST_DEBUG_FS=y

# Fingerprint
CONFIG_INPUT_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX_TA=y
CONFIG_FINGERPRINT_FPC_TEE=y

# Power supply
CONFIG_USE_BU64748=y

# Localversion
CONFIG_LOCALVERSION="-lineage_KernelSU_Docker_LXC"

# Docker/LXC
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_PID_NS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_MEMCG=y
CONFIG_VETH=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_IPVS=y
CONFIG_USER_NS=y
CONFIG_CGROUP_PIDS=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_CGROUP_PERF=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_IP_VS=y
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_VXLAN=y
CONFIG_MACVLAN=y
CONFIG_IPVLAN=y
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_DOCKER=y
CONFIG_CGROUPS=y
CONFIG_ANDROID_PARANOID_NETWORK=n
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_NF_NAT_IPV6=y
CONFIG_NF_NAT_MASQUERADE_IPV6=y
CONFIG_IP6_NF_TARGET_MASQUERADE=y
CONFIG_UNIX_DIAG=y
CONFIG_PACKET_DIAG=y
CONFIG_NETLINK_DIAG=y

# KernelSU
CONFIG_KPROBES=y
CONFIG_HAVE_KPROBES=y
CONFIG_KPROBE_EVENTS=y
